
<!doctype html>
<html lang="en">
<head>

<meta name="google-site-verification" content="tZMcggCD-vAZ_8oNx_Q5ooWJS_xAw-gWODrgvq69LGw" />

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/textanimation.css">

<title>Matthew Lock</title>
<link rel="icon" href="/imgs/portfolio.png">
<meta name="description" content="Personal portfolio for Matthew Lock.">
<meta name="keywords" content="Matthew Lock, South Africa, Portfolio, CV, Website">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="100">

<div w3-include-html="../components/navbar.html"></div>
<nav class="navbar navbar navbar-expand-sm bg-dark navbar-dark fixed-top" id="navbar">
<div class="container">
<button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="mainNav">
<div class="navbar-nav">
<a class="nav-item nav-link scrollSmooth scroll active" href="#banner">Home</a>
<a class="nav-item nav-link scrollSmooth scroll" href="#about">About</a>
<a class="nav-item nav-link scrollSmooth scroll" href="#projects">Projects</a>
<a class="nav-item nav-link scrollSmooth scroll" href="#cv">Curriculum Vitae</a>
<a class="nav-item nav-link scrollSmooth scroll" href="#contact">Contact Me</a>
</div>
</div>
</div>
</nav> 

<div id="banner" id="banner">
<div class="jumbotron jumbotron-fluid shadow-dark jumbotron-header">
<div class="container ">
<div class="banner-content">
<div class="row">
<div class="col-auto bg-dark">
<h1 class="display-4">PERSONAL PORTFOLIO</h1>
</div>
</div>
<div class="row mw-100 ">
<div class="col-12 col-md-auto bg-dark">
<h1 class="ah-headline clip">
<div class="main-text-container">
<div class="main-text" id="selector">
<h1 class="ah-headline">
<span>I'm</span>
<span class="ah-words-wrapper changing-text">
<b class="is-visible">Matthew Lock</b>
<b>an Engineer</b>
<b>a Developer</b>
<b>a Creator</b>
</span>
</h1>
</div>
</div>
</h1>
</div>
</div>
<div class="row mw-100 summary-text">
 <div class="col-md-6 bg-dark p-2">
<p class="lead text-light">I'm an Electrical and Computer Engineer from the University of Cape Town with a burning passion for all things related to software development and embedded systems engineering. I am currently persuing a Masters in Embedded Systems Engineering at the KTH Royal Institute of Technology. </p>
</div>
</div>
<div class="row mw-100">

<a type="button" class="btn btn-warning" href="#projects">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trophy icon trophy" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M3 1h10c-.495 3.467-.5 10-5 10S3.495 4.467 3 1zm0 15a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1H3zm2-1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1H5z" />
<path fill-rule="evenodd" d="M12.5 3a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm-6-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3 2a3 3 0 1 1 6 0 3 3 0 0 1-6 0z" />
<path d="M7 10h2v4H7v-4z" />
<path d="M10 11c0 .552-.895 1-2 1s-2-.448-2-1 .895-1 2-1 2 .448 2 1z" />
</svg>
<b>PROJECTS</b>
</a>

<a type="button" class="btn btn-outline-warning" href="#contact">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill icon contact" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
</svg>
<b>CONTACT ME</b>
</a>
</div>
</div>
</div>
</div>
</div> 

<div id="about" class="container section">

<div class="row mw-100 justify-content-center justify-content-md-start">
<div class="col-auto bg-dark">
<h1 class="h1 primary-color shadow-dark">About Me</h1>
</div>
</div>


<div class="row mw-100 mt-3 align-items-center justify-content-center pt-3 pb-4">

<div class="col-12 col-lg-3 col-md-5 d-flex justify-content-center justify-content-md-start">
<img src="/imgs/relaxing-small.jpg" class="rounded-circle shadow-dark" alt="Cinque Terre" width="200" height="200">
</div>
<div class="col-12 col-lg-9 col-md-7">
<div class="speech-bubble-md background-white shadow-dark sharp-corners p-3 justify-content-center ">
<p>My name is <b>Matthew Lock</b> and I am a final year Electrical and Computer Engineering <b>student</b> from Cape Town.</p>
<br>
<p>Being a curious kid, I loved exploring the mysteries of Ancient Egypt and learning all I could about those burning balls of gas in the sky.
Curioisity drove my passion for building things with my hands and from an early age I started using Python programming to solve simple challenges.
This ultimately led me down my path to <b>Engineering</b> of which I am currently in hot pursuit 🔥
</p>
<br>
<p>Through my time in engineering I have developed a sense of responsibility to apply my skills in an <b>African context</b>.
I have heeded the opportunity to take part in projects lead by <b>Engineers Without Borders</b> such as the <a href="https://www.instagram.com/p/B3ALg94Hlw2/">Mama Africa</a>
and <a href="https://www.instagram.com/p/B1TJPL4Hu8J/">Playing with Solar </a> projects. I have also been involved in the development of
<a href="https://play.google.com/store/apps/details?id=com.pixilate&hl=en_us ">Pixilate</a>, an application focused on using Computer Vision to provide
translations from English textbooks to African languages. I am currently involved with the development of an application which aims to strengthen the second hand
clothing communities present on social media platforms such as Instragram <i class="fa fa-instagram"></i>
</p>
</div>
</div>
</div>

<hr />

<div>

<div class="row mw-100 justify-content-center justify-content-md-start">
<div class="col-auto ">
<h1 class="h1 ">Hobbies and Interests</h1>
</div>
</div>

<div class="row pt-3 pb-5">

<div class="col-md-6 col-lg-3">
<div class="card card-hover">
<img class="card-img-top img-fluid" src="/imgs/exploring.jpg">
<div class="card-body ">
<h3 class="card-title"><div href="" class="stretched-link link text-dark">Exploring</div></h3>
<p class="text-muted ">Being a full time student I don't explore the outdoors as much as I would like to.
However, I take every opportunity I can to crawl up a mountain and admire the views Cape Town has to offer.
</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-3">
<div class="card card-hover">
<img class="card-img-top img-fluid " src="/imgs/climbing-front.jpg">
<div class="card-body">
<h3 class="card-title"><div href="" class="stretched-link text-dark">Bouldering</div></h3>
<p class="text-muted">This is a relatively new hobby I have picked up.
I certainly had no intention to go rock climbing on a regular basis, but after flashing <b>(finishing the first attempt) </b>my first route, there was no
going back. </p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-3">
<div class="card card-hover">
<video class="card-img-top bg-dark" autoplay loop muted>
<source src="/vids/gym-cropped-3.mp4" type="video/mp4">

Your browser does not support the video tag.
</video>
<div class="card-body">
<h3 class="card-title"><div href="" class="stretched-link text-dark">Gymming </div></h3>
<p class="text-muted">This has become a somewhat longstanding part of my life.
Driven to remain fit and attain my desired physique, gym has become routine for me and is the best way to start my day.
</p>
</div>
</div>
</div>

<div class="col-md-6 col-lg-3">
<div class="card card-hover">
<img class="card-img-top img-fluid " src="/imgs/gate-opener.jpg">
<div class="card-body">
<h3 class="card-title"><div href="" class="stretched-link text-dark">Electronics</div></h3>
<p class="text-muted">My father introduced me to electronics early on and I have loved tinkering ever since.
With my aquired skills I am constantly creating
electronic projects like the remote gate opener shown above.
</p>
 </div>
</div>
</div>
</div>
</div>
</div> 

<div class="container-fluid projects-container shadow-dark ">

<video autoplay muted loop id="myVideo">
<source src="/vids/river.mp4" type="video/mp4">
</video>
<div id="projects" class="container section pt-3">

<div class="container-fluid projects-container">
<div class="row mw-100 justify-content-center justify-content-md-start pt-3">
<div class="col-auto bg-dark shadow-dark">
<h1 class="h1 primary-color">My Projects</h1>
</div>
</div>
</div>
</div>
<div id="projects" class="container-fluid section pt-3">

<div class="card-columns">

<div class="card mt-4">
<h5 class="card-header">Realtime Chat Room</h5>
<div class="row no-gutters">
<div class="col-md-4 bg-white my-auto">
<img src="/imgs/projects/chatroom.png" class="card-img" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<p class="card-text lh-shrunk pb-2">Real-time chat room application built using socket.io protocols. Allows users to join different chat rooms while tracking current users in each room. Users are able to share their current location should they wish to get to know one another better.</p>
<a href="https://hexdro-chat-room.herokuapp.com/" class="btn btn-primary">
<i class="fa fa-phone pr-2" aria-hidden="true" style="font-size:15px;"></i>
Chat Room</a>
<a href="https://github.com/matthew-william-lock/Real-Time-Chat-Room" style="font-size:15px;" class="btn btn-dark my-auto align-middle-verticle">
<i class="fa fa-github pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Source</a>
</div>
</div>
</div>
</div>

<div class="card mt-2">
<h5 class="card-header">2D Sonar Imaging System</h5>
<div class="row no-gutters">
<div class="col-md-4 bg-white my-auto pl-2">
<img src="/imgs/projects/sonar.png" class="card-img" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<p class="card-text lh-shrunk pb-2">Two dimensional sonar operating at 40 kHz in air using the Teensy 3.6 micro-controller and three sonar transceivers.
Works by emmiting a chirp signal, recording echoes off of the surrounding environment, then applying various signal processing techniques to determine the distance and location of nearby objects. </p>
<a href="/designreport" class="btn btn-success">
<i class="fa fa-book pr-2" aria-hidden="true" style="font-size:15px;"></i>
View Report</a>
<a href="https://github.com/Lawrence-Godfrey/Sonar-Design" style="font-size:15px;" class="btn btn-dark my-auto align-middle-verticle">
<i class="fa fa-github pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Source</a>
</div>
</div>
</div>
</div>

<div class="card mt-2">
<h5 class="card-header">Unsupervised Image Clusterer</h5>
<div class="row no-gutters">
<div class="col-md-4 bg-white my-auto p-2">
<img src="/imgs/projects/number.png" class="card-img" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<p class="card-text lh-shrunk pb-2">Efficient implementation of K-Means clustering to group any number of PPM images provided by the user. The application is primarily focused on grouping together images of digits and is realised through the c++ programming language and standard practises.</p>
<a href="https://github.com/matthew-william-lock/Unsuperised-Image-Clustering" style="font-size:15px;" class="btn btn-dark my-auto align-middle-verticle">
<i class="fa fa-github pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Source</a>
</div>
</div>
</div>
</div>

<div class="card mt-2">
<h5 class="card-header">Image Mask Accelerator</h5>
<div class="row no-gutters">
<div class="col-md-4 bg-white my-auto p-2">
<img src="/imgs/projects/ima.png" class="card-img" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<p class="card-text lh-shrunk pb-2">Implementation of an FPGA based image masking accelerator using the Nexys A7 100T. The main goal of this implementation is to exploit the parallel nature of masking operations and FPGA parallelism in order to produce an efficient image masker. Included in this solution is VGA interface which enables processed images to be displayed.</p>
<a href="/imareport" class="btn btn-success">
<i class="fa fa-book pr-2" aria-hidden="true" style="font-size:15px;"></i>
View Report</a>
<a href="https://github.com/matthew-william-lock/Image-Masking-Accelerator" style="font-size:15px;" class="btn btn-dark my-auto align-middle-verticle">
<i class="fa fa-github pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Source</a>
</div>
</div>
</div>
</div>

<div class="card mt-2">
<h5 class="card-header">High Accuracy FPGA Clock</h5>
<div class="row no-gutters">
<div class="col-md-4 bg-white my-auto p-2">
<img src="/imgs/projects/fpga_clock.png" class="card-img" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<p class="card-text lh-shrunk pb-2">Implementation of a high accuracy clock using the Nexys A7 100T FPGA. Included in this implementation is an adjustable PWM setting used to vary the brightness of the seven segment displays.</p>
<a href="https://www.youtube.com/watch?v=FhooJ4PG5KM&list=PLIYLdk57DI7A1hTAwtIqUQzsAEMUl7pr1&index=1" class="btn btn-danger align-middle-verticle">
<i class="fa fa-youtube-play pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Youtube</a>
<a href="https://github.com/matthew-william-lock/FPGA-WallClock" style="font-size:15px;" class="btn btn-dark my-auto align-middle-verticle">
<i class="fa fa-github pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Source</a>
</div>
</div>
</div>
</div>

<div class="card mt-2">
<h5 class="card-header">Speech Music Discriminator</h5>
<div class="row no-gutters">
<div class="col-md-4 bg-white my-auto p-2">
<img src="/imgs/projects/music_speech.png" class="card-img" alt="...">
</div>
<div class="col-md-8">
<div class="card-body">
<p class="card-text lh-shrunk pb-2"> Identification of important audio features which can be used to distinguish input audio signals as containing either speech or music using ANN and KNN classifiers.
The accuracy and efficiency of each model is evaluated and compared to determine the appropriate use cases for each model.</p>
<a href="/musicspeechreport" class="btn btn-success">
<i class="fa fa-book pr-2" aria-hidden="true" style="font-size:15px;"></i>
View Report</a>
<a href="https://github.com/matthew-william-lock/Classification-of-Music-and-Speach" style="font-size:15px;" class="btn btn-dark my-auto align-middle-verticle">
<i class="fa fa-github pr-2 align-middle-verticle" aria-hidden="true" style="font-size:25px;"></i>
Source</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div> 

<div class="container-fluid projects-container ">
<div id="cv" class="container section pt-3">

<div class="row mw-100 justify-content-center justify-content-md-start pt-3">
<div class="col-auto bg-dark shadow-dark">
<h1 class="h1 primary-color">Curriculum Vitae</h1>
</div>
</div>

<div class="mt-3 pt-3 pb-4 ">

<a href="/cv" class="btn btn-dark sharp-corners shadow-dark mb-2">View My CV</a>

<div class="row mw-100 ">

<div class="col-auto col-md-6">
<h1 class="h1 ">Education</h1>


<div class="row mw-100 mb-4 mt-1 pt-4">
<div class="col col-md-2 col-3">
<i class="fa fa-graduation-cap" style="font-size:36px"></i>
<div class="vl"></div>
</div>

<div class="col col-md-10 col-9">
<h4 class="h4 lead">March 2017 - Present</h1>
<h2 class="h4">BSc Electrical and Computer Engineering</h2>
<h4 class="h6">Current Studying at the University of Cape Town</h4>
<h6 class="h6">Rondebosch, Cape Town, South Africa</h6>
</div>
</div>

<div class="row mw-100 mb-4 mt-1">
<div class="col col-md-2 col-3">
<i class="fa fa-graduation-cap" style="font-size:36px"></i>
<div class="vl"></div>
</div>

<div class="col col-md-10 col-9">
<h4 class="h4 lead">15 Novermber 2018 - 28 November 2018</h1>
<h4 class="h4">Practical Training Program</h4>
<h6 class="h6">Cape Peninsula University of Technology</h6>
<h6 class="h6 ">Belville, Cape Town, South Africa</h6>
<p style="font-size: 0.8rem;">Undertook a 2 week intensive Practical Training Programme to complete some of the VAC work requirements for my engineering studies.
Some of the skills I learnt include:
<ul style="font-size: 0.8rem;">
<li>welding</li>
<li>turning</li>
<li>pneumatic system design</li>
</ul>
</p>
</div>
</div>

<div class="row mw-100 ">
<div class="col col-md-2 col-3">
<i class="fa fa-graduation-cap" style="font-size:36px"></i>
<div class="vl"></div>
</div>

<div class="col col-md-10 col-9">
<h4 class="h4 lead">January 2012 - November 2016</h1>
<h4 class="h4">National Senior Certificate (NSC)</h4>
<h6 class="h6">Attended high school Westerford High School</h6>
<h6 class="h6 ">Rondebosch, Cape Town, South Africa</h4>
<p style="font-size: 0.8rem;">Completed the National Senior Certificate qualification with seven distinctions and an 85% aggregate with subjects including,
but not limited to:
<ul style="font-size: 0.8rem;">
<li>Information Technology</li>
<li>Physical Science</li>
<li>Life Science</li>
<li>Accounting</li>
</ul>
</p>
</div>
</div>
</div>


<div class="col-auto col-md-6">
<h1 class="h1 ">Work Experience</h1>


<div class="row mw-100 mb-4 mt-1 pt-4">
<div class="col col-md-2 col-3">
<i class="fa fa-suitcase" style="font-size:36px"></i>
<div class="vl"></div>
</div>

<div class="col col-md-10 col-9">
<h4 class="h4 lead">2019 - 2020</h1>
<h2 class="h4">Java Application Development</h2>
<h4 class="h6">Pixilate (formerly known as Nozari)</h4>
<p style="font-size: 0.8rem;">Helped to develop an Android application for a UCT based startup called Nozari.
Their primary aim is to provide a solution to text book translation using Computer Vision where English is not a first language.
My role involved general application design and the implementation of an SQLite database to store, dynamically display and track pages of translated textbooks.
</p>
</div>
</div>

<div class="row mw-100 mb-4 mt-1">
<div class="col col-md-2 col-2">
<i class="fa fa-suitcase" style="font-size:36px"></i>
<div class="vl"></div>
</div>

<div class="col col-md-10 col-10">
<h4 class="h4 lead">January 2019</h1>
 <h4 class="h4">Software Development</h4>
<h6 class="h6">SOLIDitech (Pty) Ltd</h6>
<h6 class="h6 ">Cape Town, South Africa</h6>
<p style="font-size: 0.8rem;">Completed a work experience program of 3 weeks in January 2019 at SOLIDitech.
The company serves to automate and manage the needs of ISPs, dealing with automatic billing, sales support,
product management, and much more. Major takeaways from this experience include:
<ul style="font-size: 0.8rem;">
<li>Understanding of the Scrum process</li>
<li>Importance of well written code to be used by others</li>
<li>Familiarization with Apache Tomcat</li>
</ul>
</p>
</div>
</div>

<div class="row mw-100 ">
<div class="col col-md-2 col-2">
<i class="fa fa-suitcase" style="font-size:36px"></i>
<div class="vl"></div>
</div>

<div class="col col-md-10 col-10">
<h4 class="h4 lead">December 2019</h1>
<h4 class="h4">Electrical Eng Internship</h4>
<h6 class="h6">Tellumat (Pty) Ltd</h6>
<h6 class="h6 ">Cape Town, South Africa</h4>
<p style="font-size: 0.8rem;">Completed a vacation work period of 4 weeks in December of 2017  at Tellumat which is a leading company in electronic technology in the telecommunications,
defence, transport and energy industries. Responsibilities included :
<ul style="font-size: 0.8rem;">
<li>CB design using Ultium for system testing</li>
<li>Familiarising myself with UART communication protocol</li>
</ul>
</p>
</div>
</div>
</div>
</div>

<hr class="hr-cv" />

<div class="row mw-100 mb-4 ">
<div class="col-12">
<h1 class="h1 text-center">Skills & Achievements</h1>
</div>
</div>

<div class="row pt-3 bg-white sharp-corners shadow-dark p-2 m-3 align-items-center">
<div class="col-1 text-center">
<i class="fa fa-star primary-color icon-shadow" aria-hidden="true" style="font-size:25px"></i>
</div>
<div class="col-10">
<h4 class="h6 muted text-center">Strong programming skills with the ability to apply understanding of the fundamentals across various languages.</h4>
</div>
</div>

<div class="row mx-100 pt-3 bg-white sharp-corners shadow-dark p-2 m-3 align-items-center">
<div class="col-1 text-center">
<i class="fa fa-star primary-color icon-shadow" aria-hidden="true" style="font-size:25px"></i>
</div>
<div class="col-10">
<h4 class="h6 muted text-center">Proficiency in C/C++, Java, Python</h4>
</div>
</div>

<div class="row pt-3 bg-white sharp-corners shadow-dark p-2 m-3 align-items-center">
<div class="col-1 text-center">
<i class="fa fa-star primary-color icon-shadow" aria-hidden="true" style="font-size:25px"></i>
</div>
<div class="col-10">
<h4 class="h6 muted text-center ">Well rounded ability with Verilog, Matlab, Julia, Android Development SQL, HTML, JavaScript</h4>
</div>
</div>

<div class="row pt-3 bg-white sharp-corners shadow-dark p-2 m-3 align-items-center">
<div class="col-1 text-center">
<i class="fa fa-trophy gold icon-shadow" style="font-size:25px"></i>
</div>
<div class="col-10">
<h4 class="h6 muted text-center">Placed on Dean’s list for academic achievement in 2017, 2018 and 2019</h4>
</div>
</div>

<div class="row pt-3 bg-white sharp-corners shadow-dark p-2 m-3 align-items-center">
<div class="col-1 text-center ">
<i class="fa fa-trophy gold icon-shadow" style="font-size:25px"></i>
</div>
<div class="col-10">
<h4 class="h6 muted text-center">Dedication award from Engineers Without Borders UCT (EWB-UCT) 2019</h4>
</div>
</div>
</div>
</div>
</div> 

<div class="container-fluid projects-container contact-me shadow-dark" id="contact">
<div class="container pt-3">

<div class="row mw-100 justify-content-center justify-content-md-start pt-3">
<div class="col-auto bg-dark shadow-dark">
<h1 class="h1 primary-color">Contact Me</h1>
</div>
</div>

<div class="row">

<div class="col-12 col-sm-12 col-lg-6 p-3 ">
<div class="contact-me-body">
<h4 class="h4 text-shadow pt-md-5 lead justify-text">Should you wish to contact me with any queries,
or to find out more about me,
please feel free to get hold of me using any of the listed contact details or platforms.
</h1>
<h4 class="h4 text-shadow pt-1 lead justify-text">Alternatively, make use the form alongside to drop me a direct message.
</h1>
</div>
<div class="row mt-3 ml-0 mw-100 p-2 border border-dark">
<i class="fa fa-envelope pl-2" style="font-size:25px"></i>
<a class="pl-2 text-dark" href="/cdn-cgi/l/email-protection#dafabbb8b99abfa2bbb7aab6bff4b9b5b7"><span class="__cf_email__" data-cfemail="264b4752524e4351514f4a4a4f474b4a49454d66414b474f4a0845494b">[email&#160;protected]</span></a>
</div>
<div class="row mt-3 ml-0 mw-100 p-2 border border-dark">
<i class="fa fa-github pl-2" aria-hidden="true" style="font-size:25px"></i></i>
<a class="pl-2 text-dark" href="https://github.com/matthew-william-lock">matthew-william-lock</a>
</div>
</div>


<div class="col-12 col-sm-12 col-lg-6">
<form id="contact-form">
<div class="form-row">
<div class="col">
<input type="text" class="form-control m-2 shadow-dark" placeholder="Name *" id="name" required>
</div>
<div class="col">
<input type="email" class="form-control m-2 shadow-dark" placeholder="Email *" id="email" required>
</div>
</div>
<div class="form-row">
<div class="col">
<input type="text" class="form-control m-2 shadow-dark" placeholder="Subject *" id="subject" required>
</div>
</div>
<div class="form-row">
<div class="col">
<textarea class="form-control m-2 shadow-dark" id="message" rows="8" placeholder="Message *" required></textarea>
</div>
</div>
<button type="submit" class="btn btn-warning m-2 shadow-dark"><b>Submit</b></button>
</form>
</div>
</div>

</div>
</div> 


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/jquery.animatedheadline.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/form.js"></script>

<script src="/js/custom.js"></script>
</body>
</html>