<div id="about-container">
    <div id="particles-js"></div>
    <div id="about" class="container section">

    <!-- Header -->
    <div class="row mw-100 justify-content-center justify-content-md-start pt-4">
        <div class="col-auto bg-dark">
            <h1 class="h1 primary-color shadow-dark">About Me</h1>
        </div>
    </div>

    <!-- New Content To Go Here-->
    <div class="row mw-100 mt-4">
        <div class="col-0 col-lg-3">
            <img src="imgs/about/cropped_shot.png" class="drop-shadow" alt="Cinque Terre" width="100%" style="">
        </div>
        <div class="col-12 col-lg-9 pl-0 pr-0">
            <p class="text-dark mb-3" style="font-weight: 450;font-size: 1.15rem;">Hey, my name is Matt I'm an Electrical and Computer Engineer from Cape Town, South Africa!</p>
            <p class="text-dark mb-3" style="font-weight: 450;font-size: 1.15rem;">Being a curious kid, I loved exploring the mysteries of Ancient Egypt and learning all I could about
                those burning balls of gas in the sky. Curioisity drove my passion for learning, while my father's bakground as a radar technician fostered enthusiasm for building and tinkering.
                This ultimately led me down the path to <b>Engineering</b> and in July 2021 I was awarded a BSc. Electrical and Computer Engineering from the University of Cape Town (UCT) with first class honours.

            </p>
            <p class="text-dark mb-3" style="font-weight: 450;font-size: 1.15rem;">Through my time in engineering I have developed a sense of responsibility to apply my skills in the South African context and
                    have heeded the opportunity to take part in many projects lead by Engineers Without Borders UCT. These include
                    the <a href="https://www.instagram.com/p/B3ALg94Hlw2/">Mama Africa</a>
                    and <a href="https://www.instagram.com/p/B1TJPL4Hu8J/">Playing with Solar </a> projects. I have also
                    been involved in the development of
                    <a href="https://play.google.com/store/apps/details?id=com.pixilate&hl=en_us ">Pixilate</a>, a mobile
                    application focused on using Computer Vision to provide
                    translations from English textbooks to African languages.  
            </p>
            <p class="text-dark mb-3" style="font-weight: 450;font-size: 1.15rem;"> 
                Aside from my professional experience in Flutter development and full-stack development, I have a keen interest for simple CAD design, 3D printing, embedded electronics, and robotics. 
                I am further persuing these interests through a Masters in Embedded Systems Engineering with a focus on Control Systems at the KTH Royal Institute of Technology.
            
            </p>
            <p style="text-align: right;">Stockholm, Sweden 📍</p>
            <p style="text-align: right;">Socials: <a href="https://www.linkedin.com/in/matthew-lock-b02bab7a/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a></p>
            
        </div>
    </div>

    <!-- Horizontal Rule -->
    <hr />

    <!-- Hobbies and Interests -->
    <div>

        <!-- Heading -->
        <div class="row mw-100 justify-content-center justify-content-md-start">
            <div class="col-auto ">
                <h1 class="h1 ">Hobbies and Interests</h1>
            </div>
        </div>

        <!-- Cards -->
        <div class="row pt-3 pb-5">

            <!-- Exploring -->
            <div class="col-md-6 col-lg-3">
                <div class="card card-hover">
                    <img class="card-img-top img-fluid" src="imgs/exploring.jpg">
                    <div class="card-body ">
                        <h3 class="card-title">
                            <div href="" class="stretched-link link text-dark">Exploring</div>
                        </h3>
                        <p class="text-muted ">Being a full time student I don't explore the outdoors as much as I would
                            like to.
                            However, I take every opportunity I can to crawl up a mountain and admire the views Cape
                            Town has to offer.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Bouldering -->
            <div class="col-md-6 col-lg-3">
                <div class="card card-hover">
                    <img class="card-img-top img-fluid " src="imgs/climbing-front.jpg">
                    <div class="card-body">
                        <h3 class="card-title">
                            <div href="" class="stretched-link text-dark">Bouldering</div>
                        </h3>
                        <p class="text-muted">This is a relatively new hobby I have picked up.
                            I certainly had no intention to go rock climbing on a regular basis, but after flashing
                            <b>(finishing the first attempt) </b>my first route, there was no
                            going back. </p>
                    </div>
                </div>
            </div>

            <!-- Gym -->
            <div class="col-md-6 col-lg-3">
                <div class="card card-hover">
                    <video class="card-img-top bg-dark" autoplay loop muted>
                        <source src="vids/gym-cropped-3.mp4" type="video/mp4">
                        <!-- <source src="movie.ogg" type="video/ogg"> -->
                        Your browser does not support the video tag.
                    </video>
                    <div class="card-body">
                        <h3 class="card-title">
                            <div href="" class="stretched-link text-dark">Gymming </div>
                        </h3>
                        <p class="text-muted">This has become a somewhat longstanding part of my life.
                            Driven to remain fit and attain my desired physique, gym has become routine for me and is
                            the best way to start my day.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Bouldering -->
            <div class="col-md-6 col-lg-3">
                <div class="card card-hover">
                    <img class="card-img-top img-fluid " src="imgs/gate-opener.jpg">
                    <div class="card-body">
                        <h3 class="card-title">
                            <div href="" class="stretched-link text-dark">Electronics</div>
                        </h3>
                        <p class="text-muted">My father introduced me to electronics early on and I have loved tinkering
                            ever since.
                            With my aquired skills I am constantly creating
                            electronic projects like the remote gate opener shown above.
                        </p>
                    </div>
                </div>
            </div>


        </div>


    </div>

    </div>
</div>


