<div id="about" class="container section">

        <!-- Header -->
        <div class="row mw-100 justify-content-center justify-content-md-start">
            <div class="col-auto bg-dark">
                <h1 class="h1 primary-color shadow-dark">About Me</h1>
            </div>                   
        </div>

        <!-- content -->
        <div class="row mw-100 mt-3 align-items-center justify-content-center pt-3 pb-4" > 

            <!-- justify-content-center -->
            <div class="col-12 col-lg-3 col-md-5 d-flex justify-content-center justify-content-md-start">
                <img src="imgs/relaxing-small.jpg" class="rounded-circle shadow-dark" alt="Cinque Terre" width="200" height="200"> 
            </div>

            <div class="col-12 col-lg-9 col-md-7">
                <div class="speech-bubble-md background-white shadow-dark sharp-corners p-3 justify-content-center "> 

                    <p>My name is <b>Matthew Lock</b> and I am a final year Electrical and Computer Engineering <b>student</b> from Cape Town.</p> 

                    <br>

                    <p>Being a curious kid, I loved exploring the mysteries of Ancient Egypt and learning all I could about those burning balls of gas in the sky. 
                        Curioisity drove my passion for building things with my hands and from an early age I started using Python programming to solve simple challenges.
                        This ultimately led me down my path to <b>Engineering</b> of which I am currently in hot pursuit 🔥 
                    </p>  

                    <br>

                    <p>Through my time in engineering I have developed a sense of responsibility to apply my skills in an <b>African context</b>. 
                    I have heeded the opportunity to take part in projects lead by <b>Engineers Without Borders</b> such as the <a href="https://www.instagram.com/p/B3ALg94Hlw2/">Mama Africa</a>  
                    and <a href="https://www.instagram.com/p/B1TJPL4Hu8J/">Playing with Solar </a> projects. I have also been involved in the development of
                    <a href="https://play.google.com/store/apps/details?id=com.pixilate&hl=en_us ">Pixilate</a>, an application focused on using Computer Vision to provide 
                    translations from English textbooks to African languages. I am currently involved with the development of an application which aims to strengthen the second hand
                    clothing communities present on social media platforms such as Instragram <i class="fa fa-instagram"></i>
                    </p>

                </div> 
            </div>

        </div> 

        <!-- Horizontal Rule -->
        <hr/>
        
        <!-- Hobbies and Interests -->        
        <div>

            <!-- Heading -->
            <div class="row mw-100 justify-content-center justify-content-md-start">
                <div class="col-auto ">
                    <h1 class="h1 ">Hobbies and Interests</h1>
                </div>                   
            </div>

            <!-- Cards -->
            <div class="row pt-3 pb-5">

                <!-- Exploring -->
                <div class="col-md-6 col-lg-3">
                    <div class="card card-hover">
                        <img class="card-img-top img-fluid" src="imgs/exploring.jpg">
                        <div class="card-body ">
                            <h3 class="card-title"><div href="" class="stretched-link link text-dark">Exploring</div></h3>      
                            <p class="text-muted ">Being a full time student I don't explore the outdoors as much as I would like to.
                                However, I take every opportunity I can to crawl up a mountain and admire the views Cape Town has to offer.
                            </p>                      
                        </div>
                    </div>
                </div>

                <!-- Bouldering -->
                <div class="col-md-6 col-lg-3">
                    <div class="card card-hover">
                        <img class="card-img-top img-fluid " src="imgs/climbing-front.jpg">
                        <div class="card-body">
                            <h3 class="card-title"><div href="" class="stretched-link text-dark">Bouldering</div></h3>      
                            <p class="text-muted">This is a relatively new hobby I have picked up.
                                 I certainly had no intention to go rock climbing on a regular basis, but after flashing <b>(finishing the first attempt) </b>my first route, there was no 
                            going back.  </p>                      
                        </div>
                    </div>
                </div>

                <!-- Gym -->
                <div class="col-md-6 col-lg-3">
                    <div class="card card-hover">
                        <video class="card-img-top bg-dark" autoplay loop muted>
                            <source src="vids/gym-cropped-3.mp4" type="video/mp4">
                            <!-- <source src="movie.ogg" type="video/ogg"> -->
                          Your browser does not support the video tag.
                          </video>
                        <div class="card-body">
                            <h3 class="card-title"><div href="" class="stretched-link text-dark">Gymming </div></h3>      
                            <p class="text-muted">This has become a somewhat longstanding part of my life.
                                Driven to remain fit and attain my desired physique, gym has become routine for me and is the best way to start my day.
                            </p>                      
                        </div>
                    </div>
                </div>

                <!-- Bouldering -->
                <div class="col-md-6 col-lg-3">
                    <div class="card card-hover">
                        <img class="card-img-top img-fluid " src="imgs/gate-opener.jpg">
                        <div class="card-body">
                            <h3 class="card-title"><div href="" class="stretched-link text-dark">Electronics</div></h3>      
                            <p class="text-muted">My father introduced me to electronics early on and I have loved tinkering ever since.
                                With my aquired skills I am constantly creating 
                                electronic projects like the remote gate opener shown above.
                            </p>                      
                        </div>
                    </div>
                </div>


            </div>
            

        </div>

    </div>