<div class="container-fluid projects-container contact-me shadow-dark" id="contact">
    <div class="container pt-3">

        <!-- Header -->
        <div class="row mw-100 justify-content-center justify-content-md-start pt-3">
            <div class="col-auto bg-dark shadow-dark">
                <h1 class="h1 primary-color">Contact Me</h1>
            </div>                   
        </div>

        <!-- Content Start -->
        <div class="row">

            <!-- Information -->
            <div class="col-12 col-sm-12 col-md-6 p-3 ">
                
                <div class="contact-me-body pt-md-4">

                    <h4 class="h4 text-shadow pt-md-5 lead justify-text">Should you wish to contact me with any queries, 
                        or to find out more about me, 
                        please feel free to get hold of me using any of the listed contact details or platforms.
                    </h1>

                    <h4 class="h4 text-shadow pt-1 lead justify-text">Alternatively, make use the form alongside to drop me a direct message. 
                    </h1>

                </div>

                <div class="row mt-3 ml-0 mw-100 p-2 sharp-corners border border-dark">
                    <i class="fa fa-envelope pl-2" style="font-size:25px"></i>
                    <a class="pl-2 text-dark" href = "mailto: abc@example.com">matthewwilliamlock@gmail.com</a>
                </div>

                <div class="row mt-3 ml-0 mw-100 p-2 sharp-corners border border-dark">
                    <i class="fa fa-github pl-2" aria-hidden="true" style="font-size:25px"></i></i>
                    <a class="pl-2 text-dark" href = "https://github.com/matthew-william-lock">matthew-william-lock</a>
                </div>


                
                

            </div>
            <!-- Information end -->

            <!-- Form -->
            <div class="col-12 col-sm-12 col-md-6">

                <form>
                    <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control m-2 sharp-corners shadow-dark" placeholder="Your Name*" id="name">
                      </div>
                      <div class="col">
                        <input type="email" class="form-control m-2 sharp-corners shadow-dark" placeholder="Your Email*" id="email">
                      </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                          <input type="text" class="form-control m-2 sharp-corners shadow-dark" placeholder="Your Subject*" id="subject">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col">
                            <textarea class="form-control m-2 sharp-corners shadow-dark" id="message" rows="8" placeholder="Your Message*"></textarea>
                        </div>
                    </div>                   
                    <button type="submit" class="btn btn-warning m-2 sharp-corners shadow-dark"><b>Send Message</b></button>
                  </form>

            </div>

            

        </div>        
        <!-- Content End -->


    </div>  
</div>